<h2>Resource Links</h2>

<ul>
  <li><a href="https://www.youtube.com/channel/UCMtqVykGztIYmj7OpFf7oeQ/videos">Felicia Bacon</a></li>
  <li><a href="https://www.twitch.tv/BackToTheCode">npb hacks</a> on the SpiderMonkey JS engine</li>
  <li><a href="https://www.twitch.tv/codehag">Compiler Compiler</a> live stream</li>
  <li>Try out <a href="https://vpn.mozilla.org/">Mozilla VPN</a></li>
  <li>
    <a href="https://mikeconley.github.io/documents/How_mconley_uses_Mercurial_for_Mozilla_code">
      How Mike Conley uses Mercurial
    </a>
  </li>
  <li><a href="https://firefox-source-docs.mozilla.org/dom/dom/Fission.html">Firefox Source Code Documentation</a></li>
  <li>
    <a href="https://github.com/ahal/mozconfigwrapper">mozconfigwrapper</a>:
    A Wrapper to manage different mozconfigs
  </li>
  <li>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/myqonly/">MyQOnly</a>:
    Mike's addon to track your review queue son Mozilla Phabricator
  </li>
  <li><a href="https://addons.mozilla.org/en-US/firefox/addon/electricbluegaloo/">Mike's Firefox Color Theme</a></li>
  <li>
    <a href="https://monitor.firefox.com/breaches">Firefox Monitor</a>:
    Stay informed on new data breach of services you're using online
  </li>
  <li>
    <a href="https://codetribute.mozilla.org/">Codetribute</a>:
    Find a good first bug to start contributing on a Mozilla projects (Firefox, Thunderbird, and more).
  </li>
<ul>
