appdirs==1.4.4
attrs==19.3.0
certifi==2020.12.5
cffi==1.14.1
chardet==4.0.0
click==7.1.2
diskcache==4.1.0
glean-parser==1.27.0
glean-sdk==31.5.0
idna==2.10
importlib-metadata==1.7.0
Jinja2==2.11.2
jsonschema==3.2.0
markdown2==2.3.10
MarkupSafe==1.1.1
pathspec==0.8.0
pycparser==2.20
pyrsistent==0.16.0
pywatchman==1.4.1
PyYAML==5.3.1
requests==2.25.1
urllib3==1.26.2
virtualenv==16.7.5
virtualenv-multiver==0.5
yamllint==1.24.2
zipp==3.1.0
