<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Joy of Coding Agenda - {{ TITLE }}</title>
  <meta name="description" content="The Joy of Coding Agenda - {{ TITLE }}">
  <meta name="author" content="Mike Conley">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>The Joy of Coding</h1>
  <h2>{{ TITLE }}</h2>

  <article id="main">
    {{ BODY }}
  </article>
</body>
</html>
