beautifulsoup4==4.4.1
certifi==2022.12.7
chardet==3.0.4
cssutils==1.0.2
deepspeech==0.1.1
enum34==1.1.6
future==0.16.0
idna==2.7
lxml==4.9.1
numpy==1.22.0
progressbar2==3.35.2
python-utils==2.3.0
pyvtt==0.0.1
requests==2.20.0
scipy==1.0.0
six==1.11.0
urllib3==1.26.5
