#!/bin/bash

SITE_USER_SSH_FILE=~/.ssh/someuser
NOTES_DIR=~/MyNotes
NOTES_IMAGES_DIR=~/MyNotes/.resources/
OUTPUT_DIR=./output
IMAGES_OUTPUT_DIR=./output/images/
EPISODE_GUIDE_DIR=~/joy-of-coding-episode-guide/_episodes/
SSH_PORT=553311
RSYNC_TO="someuser@ahost.ca:~/site/sitepage"
